@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
.error{
  color: red;
}

body{

  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(to right top, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7, #e2e0e7);
  background-repeat: repeat;
  background-size: cover;
 
}